.container {
    display: grid;
    place-items: center;
    margin: 5rem auto;
    height: 300px;
    width: 300px;
    background-color: #242424;
    border-radius: 50%;
}

.content {
    display: grid;
    place-items: center;
}

.title {
    margin: 1rem 0;
    color: #e9dede;
}

.icon {
    font-size: 5rem;
    color: rgb(255, 125, 50);
}