:root {
  --clr-bg: #fff3e0;
  --clr-primary-light: #ffe9cc;
  --clr-primary: #ffdcae;
  --clr-primary-dark: #e9b878;
  --clr-secondary-light: #5f5346;
  --clr-secondary-dark: #3a3025;
  --clr-grey: #e9e9e9;

  --clr-gradient-bg-1: linear-gradient(to right top, #ffbc85, #ffbf8b, #ffc390, #ffc696, #ffc99c, #ffc9a0, #ffc9a5, #ffc9a9, #ffc6ad, #ffc3b1, #ffc1b6, #ffbfbb);
  --clr-gradient-bg-2: linear-gradient(to right top, #ffc698, #ffc79a, #ffc99c, #ffca9f, #ffcba1, #ffcda4, #ffd0a7, #ffd2aa, #ffd6af, #ffd9b4, #ffddb9, #ffe0be);
  --clr-gradient-bg-3: linear-gradient(to bottom, #ffe6d6, #ffe4d2, #ffe2cf, #ffdfcb, #ffddc8, #ffdbc4, #ffd8c1, #ffd6bd, #ffd3b8, #ffd0b3, #ffceaf, #ffcbaa);

  --clr-main-gradient-bg: radial-gradient(circle, #f4ffe0, #f3ffde, #f1ffdc, #f0ffda, #eeffd8);
  --clr-footer-gradient-bg: linear-gradient(to bottom, #004f07, #004a05, #004604, #004102, #003d00);
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Microsoft JhengHei";
  background: var(--clr-main-gradient-bg);
}

body,
div,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

/*
========================================
Header Start
========================================
*/

header {
  margin: 0 auto;
  position: sticky;
  top: -2.6rem;
  left: 0;
}

.top-navbar {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-image: var(--clr-footer-gradient-bg);
}

.tku-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--clr-primary-light);
}

.top-navbar-1 {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-navbar-1 li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--clr-primary-light);
}

.top-navbar-1 li a:hover {
  color: #fff; 
}

.main-navbar2 {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 6rem;
  background-color: #90c29d; /* 背景色 */
}

.menu-btn2 {
  display: none;
}

.renting-service-logo {
  display: grid;
  place-items: center;
}

.logo2 {
  padding-top: 10px;
  margin: auto 0;
  margin-left: 3vw;
  height: 5rem;
}

.renting-title {
  display: none;
}

.tku-subtitle {
  display: none;
}

.main-navbar-1 {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.main-navbar-1 li {
  /* margin: 0 1.5rem; */
  font-size: 1.5rem;
}

.inner-menu2 {
  position: relative;
}

.inner-menu2 ul {
  display: none;
}

.main-navbar-1 li a {
  text-decoration: none;
  padding: .5rem 1rem;
  width: fit-content;
  font-weight: bold;
  color: #333; /* 文字顏色 */
}

.main-navbar-1 li i {
  display: none;
}

@media screen and (min-width: 990px) {
  .main-navbar-1 li:hover {
    background-color: #408138;
    border-radius: 5rem;
    color: var(--clr-primary-light);
  }
  
  .main-navbar-1 li:hover a {
    color: var(--clr-primary-light);
  }
  
  .main-navbar-1 li a:hover {
    cursor: pointer;
  }
  
  .inner-menu2:hover ul {
    position: absolute;
    top: 100%;
    left: -1rem;
    padding: .5rem 1rem;
    padding-bottom: 0;
    display: block;
    height: fit-content;
    background-color: #90c29d;
    border-radius: 5px;
  }
  
  .inner-menu2:hover ul li {
    margin: 1rem 0;
    line-height: 1.2rem;
    background-color: #d3e6ce;
    border-radius: 5px;
  }
  
  .inner-menu2:hover ul li a {
    text-wrap: nowrap;
    background-color: transparent;
    color: #333;
    font-weight: normal;
  }
  
  .inner-menu2:hover ul li:hover {
    background-color: #00683C;
  }
  
  .inner-menu2:hover ul li:hover a {
    width: 100%;
    color: var(--clr-primary-light);
    cursor: pointer;
  }
}


#toggler1, #toggler2 {
  display: none;
}

.menu-btn {
  display: none;
}

.show-menu {
  transform: translateY(0);
}

.hide-menu {
  transform: translateY(0);
}

.hide-btn {
  display: none;
}

@media screen and (max-width: 1300px) {
  .tku-title {
    font-size: 1.5rem;
  }

  .logo2 {
    height: 4rem;
  }

  .main-navbar-1 li {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 1050px) {
  .logo2 {
    height: 4rem;
  }

  .main-navbar-1 li {
    font-size: 1.1rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 990px) {
  .tku-title {
    display: none;
  }

  .top-navbar {
    height: 2rem;
    grid-template-columns: 1fr;
  }

  .top-navbar-1 {
    margin-left: 30vw;
    width: 70vw;
  }

  .top-navbar-1 li a {
    font-size: .75rem;
  }

  .logo2 {
    display: none;
  }

  .main-navbar2 {
    padding: 1rem 1.5rem;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .renting-service-logo p {
    margin: 0;
    padding: 0;
  }

  .renting-title {
    display: block;
    font-size: 2.2rem;
    font-weight: bolder;
  }
  
  .tku-subtitle {
    display: contents;
    font-weight: bolder;
    font-size: 1.2rem;
  }
  
  .main-navbar-1 {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cfe6d5;
    width: 100vw;
    display: grid;
    place-items: center;
    padding: 1.5rem 0;
  }

  .main-navbar-1 li {
    margin-bottom: 1rem;
  }

  .bar {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #000;
    font-size: 1.75rem;
  }

  .main-navbar-1 li i {
    display: grid;
    place-items: center;
  }

  .show-menu {
    transform:translateY(8.5rem);
    transition: transform .3s linear;
  }

  .hide-menu {
    transform: translateY(-100%);
    transition: transform .3s linear;
  }

  /*
  ======================================

        HABERGUR BUTTON SECTION

  ======================================
  */


  .menu-btn {
    margin-left: 10px;
    width: fit-content;
    height: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hamburger-container {
    display: block;
    width: 40px;
    height: 40px;
  }
  
  .hamburger-container span {
    display: block;
    height: 5px;
    border-radius: 5rem;
    background-color: var(--clr-secondary-light);
    position: relative;
    transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
    top: 0;
  }
  
  .hamburger-container span:nth-child(2) {
    margin-top: 8px;
  }
  
  .hamburger-container span:nth-child(3) {
    margin-top: 8px;
  }
  
  #toggler1:checked + label .hamburger-container {
    position: relative;
    top: 8px;
  }
  
  #toggler1:checked + label .hamburger-container span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }
  
  #toggler1:checked + label .hamburger-container span:nth-child(2) {
    display: none;
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }
  
  #toggler1:checked + label .hamburger-container span:nth-child(3) {
    top: -3.5px;
    transform: rotate(-45deg);
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }
}

@media screen and (max-width: 750px) {
  .top-navbar-1 {
    padding: 0c;
    margin: 0;
    width: 100vw;
  }

  .main-navbar2 {
    padding: 1rem;
  }

  .renting-title {
    font-size: 1.75rem;
  }

  .tku-subtitle {
    font-size: 1rem;
  }

  .show-menu {
    transform:translateY(7.5rem);
    transition: transform .3s linear;
  }

  .hamburger-container {
    display: block;
    width: 30px;
    height: 30px;
  }
  
  .hamburger-container span {
    display: block;
    height: 4px;
    border-radius: 5rem;
    background-color: var(--clr-secondary-light);
    position: relative;
    transition: transform .3s ease-in-out, top .3s ease-in-out .3s;
    top: 0;
  }
  
  .hamburger-container span:nth-child(2) {
    margin-top: 6px;
  }
  
  .hamburger-container span:nth-child(3) {
    margin-top: 6px;
  }
  
  #toggler1:checked + label .hamburger-container {
    position: relative;
    top: 6px;
  }
  
  #toggler1:checked + label .hamburger-container span:nth-child(1) {
    top: 7px;
    transform: rotate(45deg);
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }
  
  #toggler1:checked + label .hamburger-container span:nth-child(2) {
    display: none;
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }
  
  #toggler1:checked + label .hamburger-container span:nth-child(3) {
    top: -3.5px;
    transform: rotate(-45deg);
    transition: top .3s ease-in-out, transform .3s ease-in-out .3s;
  }
}

/*
========================================
Header End
========================================
*/

/*
========================================
Main Section Start
========================================
*/

/* REFERENCE LINKS PART */

.main {
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 990px) {
  .main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }

}

/* MAIN FRAME PART */

.main-frame {
  max-width: 750px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#frame_content {
  width: 100%;
  min-height: 500px;
}

/* Class for Javascript  */


/*
========================================
Main Section End
========================================
*/

/*
========================================
Footer Start
========================================
*/

footer {
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  /* background-color: #ffba60; */
  background-image: var(--clr-footer-gradient-bg);
  color: var(--clr-primary-light);
}

.footer-logo {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2rem;
}

.footer-logo img {
  height: 8rem;
  width: 8rem;
}

.footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
  font-family: 標楷體;
  font-weight: normal;
}

.footer-title-eng {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
}

.contents {
  margin-left: min(10px);
  margin-right: min(10px);
}

.subtitle {
  font-size: 1.2rem;
}

.subtitle a {
  display: inline;
  font-weight: bold;
  text-decoration: underline;
  color: var(--clr-primary);
}

.contacts {
  padding: 1.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.contacts-eng {
  font-size: 1rem;
}

.copyright {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .footer-logo img {
    height: 12rem;
    width: 12rem;
  }

  .footer-title {
    font-size: 4.5rem;
  }

  .footer-title-eng {
    font-size: 3rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
  }

  .contacts {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .contacts-eng {
    font-size: 1.2rem;
  }

  .copyright {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

/*
========================================
Footer End
========================================
*/
