.main {
    position: relative;
    max-width: 90%;
    margin: 2rem auto;
}

.background {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: .5rem;
    column-gap: .5rem;
}

.background img {
    width: 100%;
    object-fit: cover;
}

.logo {
    width: 30vw;
    position: absolute;
    top: calc(50% - 16vw);
    left: calc(50% - 15.5vw);
}


.marquee {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.item {
    height: fit-content;
}

.item img {
    height: 90%;
    object-fit: cover;
    transition: all linear .4s;
}

.item .slick-center img {
    transform: scale(1.4);
}

.slick-slide {
    margin: 10px;
    /* 圖片與圖片的間隔大小 */
}

.slick-slide img {
    width: 100%;
    border: 2px solid #fff;
    /* 圖片的邊框大小 */
}