:root {
    --clr-bg: #fff3e0;
    --clr-primary-light: #ffdcae;
    --clr-primary-dark: #ffdcae;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: "Microsoft JhengHei";
    background: var(--clr-bg);
}

body,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

/*
========================================
Header Start
========================================
*/

header {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

/* LOGO PART */

.top-logo {
    position: relative;
    height: fit-content;
}

.bg {
    width: 100%;
}

.logo {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 45%;
}

/* NAVBAR PART */

.main-navbar {
    position: static;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.main-navbar li {
    padding: 5px 10px;
    display: block;
    list-style: none;
    background-color: var(--clr-primary-light);
    border-radius: 5px;
}

.main-navbar li:hover {
    background-color: var(--clr-primary-dark);
}

.main-navbar li a {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    width: fit-content;
    height: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .main-navbar {
        position: absolute;
        width: 45%;
        bottom: 4%;
        right: 0;
    }

    .main-navbar li {
        background-color: transparent;
    }

    .main-navbar li:hover {
        background-color: transparent;
    }

    .main-navbar li a {
        font-size: 1rem;
    }

    .main-navbar li a:hover {
        text-decoration: underline;
    }
}

/*
========================================
Header End
========================================
*/





.main {
    max-width: 1100px;
    margin: 0 auto;
}

.reference {
    background-color: #ffdcae;
    padding-bottom: 2rem;
}

.reference h3 {
    padding-top: 2rem;
    padding-left: 2rem;
    font-size: 2.5rem;
}

.nav-a {
    height: 100%;
}

.menu {
    margin-left: 5rem;
}

.menu li {
    font-size: 1.5rem;
    line-height: 3.5rem;
}

/*
========================================
SideContent End
========================================
*/