.nav-btn {
  list-style: none;
  padding: 0.5rem 0.75rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.main-navbar ul {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.nav-btn a {
  color: #ff8b2c;
  cursor: pointer;
  font-weight: bolder;
}

.nav-btn:hover {
  background-color: #fa6b0c;
}

.nav-btn:hover a {
  color: #fff;
}

.section-title {
  width: 50%;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 2px;
  padding-left: 5px;
  border-bottom: 3px solid #fa6b0c;
}

.area-view {
  width: 80vw;
  height: 30vh;
  max-width: 600px;
  max-height: 450px;
  border: none;
  border-radius: 10px;
}